{% if page.url == "/" or page.url == "/404.html" %}
{% assign is_home = true %}
{% else %}
{% assign is_home = false %}
{% endif %}
<!DOCTYPE html>
<html
  lang="{{ page.lang | default: site.lang | default: "en" }}"
  class="dark-gray">
  <head>
    <script>
      // When the user scrolls the page, execute myFunction 
      window.onscroll = function() {myFunction()};

      function myFunction() {
        var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
        var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        var scrolled = (winScroll / height) * 100;
        document.getElementById("myBar").style.width = scrolled + "%";
        if(scrolled>99){
          document.getElementById('myBar').style.width = '100%'
          document.getElementById("myBar").className = "bg-light-green";
          document.getElementById("myBar").id = 'done'
        }
      }
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% feed_meta %}
    <link rel="stylesheet" href="{{ "/static/app.css" | relative_url }}">
    <link rel="shortcut icon" href="{{ "/favicon.ico" | relative_url }}" />
    <title>{{site.title}}</title>
    <style>
        .header {
  position: fixed;
  top: 0;
  width: 100%;
}

.header h2 {
  text-align: center;
}
    </style>
  </head>
  <body class="bg-washed-blue georgia">
    
      {% unless is_home %}
        <div class="header">
            <div class="progress-container w100">
              <div class="progress-bar bg-washed-red " style="width:0;height:0.5rem"  id="myBar"></div>
            </div>  
          </div>
      {% endunless %}
      <main class="measure-wide center pt5 ph3 pb3 bg-white" >
      {% if is_home %}
      <h1>
      {% else %}
      <h2 class="mt0">
      {% endif %}
        <a
          href="{{ "/" | relative_url }}"
          class="no-underline bg-{{ site.brand_color }} bg-animate">
          {{site.title}}
        </a>
      {% if is_home %}
      </h1>
      {% else %}
      </h2>
      {% endif %}
      {% if is_home %}
        <section class="pv2">
          {{ content }}
        </section>
      {% else %}
        <section class="pv2">
            <header class="bg-washed-green sans-serif nl7-l nr7-l">
                <div class="mw9 center pa4 pt5-ns ph7-l">
                  <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
                    <span class="bg-black-90 lh-copy white pa1 tracked-tight">
                      {{page.title}}
                    </span>
                  </h3>
                  <h4 class="f3 fw1 georgia i">{{page.description}} - <span class="b">{{page.date | date: site.date_format}}</span></h4>
                </div>
              </header>
          {{content}}
        </section>
      {% endif %}
      {% if site.posts.size > 0 %}
        {% if is_home %}
        <hr />
        <h2>Process Journal 📢</h2>
        <section class="pv2">
          <ul class="list pl0">
              {% for post in site.categories.journal %}
                <li class="mt0 mb4 ">
                    <span class="silver db mb1">{{ post.date | date: site.date_format }}</span>
                    <h3 class="ma0">
                      <a class="no-underline bg-animate hover-bg-{{site.brand_color}}" href="{{ post.url | relative_url }}">Update {{ forloop.length | minus:forloop.index | plus:1}}: {{post.description}}</a>
                    </h3>
                    {% if post.emoji %}
                    <span class="silver db mb1">Status: {{ post.emoji }}</span>
                    {% endif %}
                </li>
              {% endfor %}
          </ul>
        </section>
        {% endif %}
        <hr />
        <h2>Blog 📰</h2>
        <section class="pv2">
          <ul class="list pl0">
          {% if is_home %}
            {% for post in site.posts %}
              <li class="mt0 mb4">
                <span class="silver db mb1">{{ post.date | date: site.date_format }}</span>
                <h3 class="ma0">
                  <a class="no-underline bg-animate hover-bg-{{site.brand_color}}" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                </h3>
              </li>
            {% endfor %}
          {% else %}
            {% for post in site.posts %}
              <li class="mt0 mb4">
                <span class="silver db mb1">{{ post.date | date: site.date_format }}</span>
                <h3 class="ma0">
                  <a class="no-underline bg-animate hover-bg-{{site.brand_color}} " href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                </h3>
              </li>
            {% endfor %}
            <li class="pt4 mt0 mb4">
              <h2>
                <a
                href="{{ "/" | relative_url }}"
                class="no-underline bg-{{ site.brand_color }} bg-animate">
                  {{site.title}}
                </a>
              </h2>
            </li>
          {% endif %}
          </ul>
        </section>
      {% endif %}
      <footer class="pv4 ph3 ph5-m ph6-l">
          <small class="f6 db">Made with ❤️ + Code by <a class=" bg-animate no-underline bg-{{ site.brand_color }}" href="https://github.com/rishiosaur">@rishiosaur</a>. Source at <a class="no-underline bg-{{ site.brand_color }}" href="https://github.com/rishiosaur/reimagine">Github</a></a></small>
        </footer>
    </main>
  </body>
</html>
